blnk
*/node_modules
node_modules
.env
.idea
blnk.json
promtail
dump.rdb
heartbeat.db
.claude
CLAUDE.md

blnk_dev.json

.petropix-dev
.petropix-qas
.petropix-prd

docker-compose.petropix.dev.yaml

taskfile.yaml

/.github/copilot-instructions.md

/.github/prompts
/.github/skills
config.yaml